@import url('https://fonts.googleapis.com/css?family=Lora');

.navbar {
  color: white;
  position: absolute;
  top: 5vh;
  right: 5vw;
  z-index: 1000;
}

.navbar .bar1, .bar2, .bar3{
  width: 35px;
  height: 4px;
  background-color: rgba(255,255,255,0.5);
  margin: 6px 0;
  transition: 0.4s;
}

.navbar:hover .bar1, .navbar:hover .bar2, .navbar:hover .bar3{
  background-color: rgba(255,255,255,1);
}

.navbar-active .bar1{
  background-color: rgba(255,255,255,1);
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.navbar-active .bar2{
  opacity: 0;
}

.navbar-active .bar3{
  background-color: rgba(255,255,255,1);
  transform: rotate(45deg) translate(-8px, -6px) ;
}

.navmenu{
  z-index: 500;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  padding-top: 15vh;
  transition: 0.4s;
}

.navmenu .navmenu-item{
  padding: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.navmenu .navmenu-item a{
  text-decoration: none;
  color: white;
}

.coverImage {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10%;
  transition: background-image 2s ease-in-out;
}

.coverArrow {
  font-size: 6vh;
  color: rgba(255,255,255,0.5);
  position: fixed;
  right: 10vw;
  bottom: 10vh;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
}
@media screen and (orientation:landscape) {
  .coverArrow {
    font-size: 6vw;
  }
}
.coverArrow:hover{
  color: rgba(255,255,255,1.0);
  transition: color 0.5s ease-in-out;
}

.gridPage {
  background-color: black;
  color: white;
  height: 100%;
  min-height: 100vh;
  padding-top: 5vh;
}

.pageCard {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  width: 80vw;
  border-style: groove;
  border-width: medium;
  text-decoration: none;
  text-align: right;

  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vh;
  min-height: 30vh;
  display: block;
}

.pageCard:hover{
  border-color: rgba(255,0,0,1);
}

.pageCard .pageCardContent{
  /* background-color: red; */
  line-height: 0px;
  max-height: 100%;
  line-height: 0px;
  margin: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.pageCard .pageCardContent .p {
  text-overflow: clip;
}

.articleHeader {
  height: 200px;
  max-height: 50vh;
  padding-top: 5vh;
  position: relative;
}
.articleHeader h1{
  position: absolute;
  bottom: 0;
  left: 5vw;
}
.articleBody{
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
}

@media (min-width: 768px) {
  .navmenu{
    max-width: 400px;
  }
  .pageCard{
    width: 40vw;
    margin-left: 7vw;
    margin-right: 0vw;
    min-height: 20vh;
    display: inline-block;
  }
}
